<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite
        name="PrimeCare Master Verification Suite"
        verbose="2"
        preserve-order="true"
        parallel="false">

    <listeners>
        <listener class-name="base.TestNGVerificationListener"/>
    </listeners>

    <test name="Master Screen &amp; Role User Journey Verification">

        <classes>
            <class name="testNG.PrimeCare.MasterScreenTestRunner"/>
            <class name="testNG.PrimeCare.AllScreensVerificationTest"/>
            <class name="testNG.PrimeCare.Auth.LanguagePageTest"/>
            <class name="testNG.PrimeCare.PrimeCareTest"/>
            <class name="testNG.PrimeCare.PswDashboardTest"/>
        </classes>

    </test>

</suite>
