**
!services/
!services/api_gateway/
!services/api_gateway/**
!services/auth_api/
!services/auth_api/**
!packages/
!packages/database_client/
!packages/database_client/**
**/.dart_tool/**
**/build/**
**/pubspec.lock
